$max-width: 48.125rem; // ≈ 770 px
$element-max-width: 16.875rem; // ≈ 270 px
$container-max-width: 23.125rem; // ≈ 370 px
$mobile-width: 320px;
$element-margin: 1.875rem; // ≈ 30 px
$section-margin: 3.75rem; // ≈ 60 px
$border-radius: 0.25rem;
$off-white: #fafafa;
$grey: #697b95;
